:root {
  --color-dark: rgb(32, 46, 49);
  --color-white: rgb(246, 246, 246);
  --color-yellow: rgb(255, 193, 60);
  --color-orange: rgb(209, 154, 30);
  font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-dark);
}

a {
  font-weight: 500;
  color: var(--color-white);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-yellow);
}
a:active {
  text-decoration: underline;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
  margin-bottom: 24px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  hyphens: auto;

  @media (min-width: 768px) {
    font-size: 3.7em;
    margin-bottom: 48px;
  }
}

h2 {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 600;
  text-align: center;
  padding-bottom: 32px;
}

h3 {
  color: var(--color-yellow);
  font-weight: 500;
}
