:root {
  --color-dark: rgb(32, 46, 49);
  --color-white: rgb(246, 246, 246);
  --color-yellow: rgb(255, 193, 60);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-white);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-yellow);
}
a:active {
  text-decoration: underline;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-dark);
}

h1 {
  font-size: 3.8em;
  line-height: 1.1;
  margin-bottom: 48px;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
